.dateRangeModuleWrap {
	display: flex;
	position: relative;

	.dateRangeModule input {
		height: 3rem;
		width: 8vw;
		font: $inputsFont;
		padding: 0 2rem;
		border: none;
		border-radius: $bordersRadius;
		box-shadow: $boxShadow;
		background-color: $blocksBgColor;
		color: $titlesColor;
		cursor: pointer;
	}

	.dateRangeModule input:active {
		cursor: -webkit-grabbing;
	}

	.dateRangeModule {
		// display: flex;
		align-items: center;

		.react-datepicker-popper {
			z-index: 1;
		}

		.description {
			font: $inputsFont;
			color: $titlesColor;
			margin-right: 5vw;
		}
	}
}
.dateRangeModuleWrap span {
	font: $inputsFont;
	color: $closeDeclineCheck;
	position: absolute;
	top: -2rem;
	right: 10px;
}
