.welcomeWrap {
	padding: 5vh 10vw;

	.texWrap {
		min-height: 30vh;
		background-color: $blocksBgColor;
		box-shadow: $boxShadow;
    padding: 5vh 5vw 10vh 5vw;
    color: $titlesColor;
  }
  
  .texWrap h2 {
    text-align: center;
    font: $navMenuTitle;
  }

  .texWrap p {
    font: $inputsFont;
  }
}
