.datePickerModule input {
  height: 3rem;
  width: 16rem;
	font: $inputsFont;
	padding: 0 2rem;
	border: none;
	border-radius: $bordersRadius;
  box-shadow: $boxShadow;
  background-color: transparent;
  color: $titlesColor;
  cursor: pointer;
}

.datePickerModule input:active {
  cursor: -webkit-grabbing;
}

.datePickerModule {
  // display: flex;
  align-items: center;

  .react-datepicker-popper {
    z-index: 1;
  }
  
  .description {
    font: $inputsFont;
    color: $titlesColor;
    margin-right: 5vw;
  }
}
