.select {
	align-items: center;

	.description {
		min-width: 21vw;
		font: $inputsFont;
		color: $titlesColor;
		margin-right: 5vw;
	}

	.select {
		width: 20rem;
		height: 3rem;
		margin: 0;
		background-color: transparent;
		border-radius: $bordersRadius;
		border: 1px solid transparent;
		box-shadow: $boxShadow;
		color: $titlesColor;
		font: $inputsFont;
		outline: none;
	}

	.error {
		border: 1px solid $closeDeclineCheck !important;
	}
}
