@import "app/fonts.scss";

:global {
	body {
		margin: 0 0;
		padding: 0 0;
		background-color: $bodyBgcolor;

		a {
			text-decoration: none;
		}
		button {
			outline: none;
			border: none;
			border-radius: $bordersRadius;
			cursor: pointer;
			box-shadow: $boxShadow;
		}

		button:active {
			transform: scale(0.9);
			transition: 0.5s;
			cursor: -webkit-grabbing;
		}
	}

	html {
		margin: 0 0;
		padding: 0 0;
	}
}
