.inputComponentWrap {
	align-items: center;

	.description {
		min-width: 21vw;
		font: $inputsFont;
		color: $titlesColor;
		margin-right: 5vw;
	}

	.inputTextWrapper {
		max-width: 20rem;
		position: relative;
		margin-bottom: 1.5rem;
		box-shadow: $boxShadow;
		border-radius: $bordersRadius;
		&:last-of-type {
			margin-bottom: 0;
		}

		.inputText {
			width: 20rem;
			height: 3rem;
			border: 1px solid transparent;
			border-radius: $bordersRadius;
			outline: none;
			padding-left: 0.5rem;
			position: relative;
			z-index: 1;
			background-color: transparent;
			font: $inputsFont;
			box-sizing: border-box;
			padding-top: 1.7rem;
			color: $titlesColor;
		}

		.placeholder {
			position: absolute;
			top: 1.2rem;
			left: 0.5rem;
			font: $inputsFont;
			opacity: 0.3;
			transition: 0.4s;
			will-change: font-size, top;
		}

		:global .focus {
			font-size: 1rem;
			top: 0.3rem;
			opacity: 0.3;
		}
	}

	.error {
		border: 1px solid $closeDeclineCheck !important;
	}
	.errorMsg {
		margin-top: 1vh;
		font: $inputsFont;
		color: $closeDeclineCheck
	}
}
